 .container
 {
     width:  100%; 
 }
 
  .container-item {
    min-height:300px;
    text-align:center;
    font-size:large;
   }
 
  .myFont {
      
      text-align: center;
      padding-top: 2%;
    }

 
 .blue {
       background-color: #0081EA;
       
    }
    .red {
    background-color: #EA000B; 
   
    }
    .green {
      background-color: #068400;
       
    }
    .purple {
      background-color: #3F3FBF;
       
    }